[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/atina-project/jsoncpp.git
[submodule "third_party/libuuid"]
	path = third_party/libuuid
	url = https://github.com/atina-project/libuuid.git
[submodule "third_party/libsqlite3"]
	path = third_party/libsqlite3
	url = https://github.com/atina-project/libsqlite3.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/atina-project/zlib.git
[submodule "third_party/drogon"]
	path = third_party/drogon
	url = https://github.com/atina-project/drogon.git
[submodule "third_party/di"]
	path = third_party/di
	url = https://github.com/atina-project/di.git
[submodule "third_party/sqlite_orm"]
	path = third_party/sqlite_orm
	url = https://github.com/atina-project/sqlite_orm.git
